<header class="top-nav">
  
    <nav>
      <ul>
        <li>Projectophile</li>
        <li (click)="navigateToHome()"><a>Home</a></li>
        <li (click)="navigateToAboutUs()"><a>About Us</a></li>
        <li (click)="navigateToContactUs()"><a>Contact Us</a></li>
        <li (click)="navigateToUser()"><a>User</a></li>
      </ul>
    </nav>
  </header>
  
  <main>

    <div [ngSwitch]="currentComponent">
        <app-home *ngSwitchCase="navBarConstant.HOME"></app-home>
        <app-login *ngSwitchCase="navBarConstant.USERS"></app-login>
        <app-aboutus *ngSwitchCase="navBarConstant.ABOUTUS"></app-aboutus>
        <app-contactus *ngSwitchCase="navBarConstant.CONTACTUS"></app-contactus>
    </div>
    
  </main>
