header.top-nav {
    background-color: #333;
    padding: 10px 0;
  
    nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
  
        li {
          margin-right: 20px;
  
          a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
  
            &:hover {
              background-color: #555;
              cursor: pointer;
            }
  
            &.active {
              background-color: #555;
            }
          }
        }
      }
    }
  }
  
  main {
    padding: 20px;
  }
  