<header class="top-nav">
    <nav>
      <ul>
        <li (click)="navigateToHome()"><a>Home</a></li>
        <li (click)="navigateToAboutUs()"><a>About Us</a></li>
        <li (click)="navigateToContactUs()"><a>Contact Us</a></li>
        <li (click)="navigateToLogin()"><a>User</a></li>
      </ul>
    </nav>
  </header>
  
  <main>

    <div [ngSwitch]="currentComponent">
        <app-home *ngSwitchCase="'home'"></app-home>
        <app-login *ngSwitchCase="'login'"></app-login>
        <app-aboutus *ngSwitchCase="'aboutUs'"></app-aboutus>
        <app-contactus *ngSwitchCase="'contactUs'"></app-contactus>
    </div>
    
  </main>
